extends layout

block content
    .w3-card-4
        header.w3-container.w3-teal
            h3 Lista de Alunos
            if level==1
                form(action='/adicionar' method='GET')
                    input.w3-btn.w3-blue-grey(type='submit' value='Registar')
            w3.w3-right
                a.w3-btn.w3-black.w3-round-xlarge.w3-bar-item(href='/logout') Logout     
        if lista.length > 0
            .w3-container
                table(class="w3-table-all")
                    tr
                        th Número
                        th Nome
                        th dataNasc
                        th instrumento
                    each a in lista
                        tr
                            td 
                                a(href="/alunos/"+a.id)= a.id
                            td= a.nome
                            td= a.dataNasc
                            td= a.instrumento    
        else
            div(class="w3-container")
                p Ainda não há alunos.
            footer(class="w3-container w3-teal")
                adress 